<div class="main-content">
    <div class="hero">
        <div class="hero-content">
            <div class="hero-content-box">
                <div class="hero-large-text">DOWNLOAD APP, SAVE MONEY, MAKE FRIENDS!</div>
                <div class="hero-small-text">Its simple and its free. Play your part in reducing Carbon Footprint and help Mother Nature to sustain its beauty. So what are you waiting for ? Lets ride together</div>
                <div class="hero-content-box-button-container">
                    <button class="hero-button">DOWNLOAD</button>
                    <button class="hero-button">DOWNLOAD</button>
                </div>
            </div>
            <div class="hero-content-img">
                <img src="images/hero.png" alt="">
            </div>

        </div>
        <div class="application-box">
            <div class="application-box-text">Let's go. Get a link to download the app.</div>
            <input type="text" placeholder="Enter mobile phone number">
            <button class="application-box-button" type="submit">APPLY TO DRIVE</button>

        </div>
    </div>

    <div class="instruction-box">
        <div class="instruction-box-heading">HOW <span>TERE</span> WORKS</div>
        <div class="instruction-box-text">Download and install the tere app. Enter your phone number and make your user account. when approved you may start driving.</div>
        <div class="instruction-box-interactive-section">
            <div class="interactive-content-left">
                <div class="interactive-content-unit">
                    <img src="images/1.png" alt="">
                    <div class="interactive-content-heading">REQUEST A RIDE</div>
                    <div class="interactive-content-text">Have to reach office or going for shopping ? Just put your current location and destination and search a ride that suits you</div>
                </div>
                <div class="interactive-content-unit">
                    <img src="images/3.png" alt="">
                    <div class="interactive-content-heading">INSTANT NOTIFICATIONS</div>
                    <div class="interactive-content-text">Get instant notifications for your rides and be in contact with fellow riders all the time</div>
                </div>
            </div>
            <div class="circle">
                <div class="image"><img src="images/mobile.png" alt=""></div>
            </div>
            <div class="interactive-content-right">
                <div class="interactive-content-unit">
                    <img src="images/2.png" alt="">
                    <div class="interactive-content-heading">POST A RIDE</div>
                    <div class="interactive-content-text">Going somewhere but hate to travel alone - just post your ride details and publish it</div>
                </div>
                <div class="interactive-content-unit">
                    <img src="images/4.png" alt="">
                    <div class="interactive-content-heading">CASHLESS PAYMENT</div>
                    <div class="interactive-content-text">Payment made easy by using your own Wallet - no more cash to carry</div>
                </div>
            </div>
        </div>
        <div class="page-changer">
            <div class="active-dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <div class="benefits-box">
        <div class="benefits-box-heading"><span>TERE</span> BENEFITS</div>
        <div class="benefits-unit">
            <div class="benefits-unit-content">
                <div class="benefits-unit-content-top">
                    <div class="benefit-number">01.</div>
                    <div class="benefit-heading">Flexible working hours</div>
                </div>
                <div class="benefits-unit-content-bottom">You can decide when, and how much time you want to drive.</div>
            </div>
            <img src="images/time.png" alt="">
        </div>
        <div class="benefits-unit">
            <img src="images/money.png" alt="">
            <div class="benefits-unit-content">
                <div class="benefits-unit-content-top">
                    <div class="benefit-number">02.</div>
                    <div class="benefit-heading">Earnings</div>
                </div>
                <div class="benefits-unit-content-bottom">By driving with tere you can earn more.</div>
            </div>
        </div>
        <div class="benefits-unit">
            <div class="benefits-unit-content">
                <div class="benefits-unit-content-top">
                    <div class="benefit-number">03.</div>
                    <div class="benefit-heading">Customer support 24/7</div>
                </div>
                <div class="benefits-unit-content-bottom">Tere is a local service provider and we are proud to support you in your local language. We are proud to be at your service 24/7!</div>
            </div>
            <img src="images/work.png" alt="">
        </div>
    </div>
    
</div>