<div class="footer">
    <div class="footer-logo"><img src="images/footer-logo.png" alt=""></div>
    <div class="footer-text">
        <div class="footer-text-box">
            <div class="large-text">Be Our Friend</div>
            <div class="small-text">3, Season Park, Jakarta</div class="small-text">
            <div class="small-text">support@foodyar.co,id</div class="small-text">
            <div class="small-text">021 - 1111 - 2222</div class="small-text">
        </div>
        <div class="footer-text-box">
            <div class="large-text">Be Our Friend</div>
            <div class="small-text">3, Season Park, Jakarta</div class="small-text">
            <div class="small-text">support@foodyar.co,id</div class="small-text">
            <div class="small-text">021 - 1111 - 2222</div class="small-text">
        </div>
    </div>
    <div class="footer-button-container">
        <button class="footer-button">DOWNLOAD</button>
        <button class="footer-button">DOWNLOAD</button>
    </div>
</div>